* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

body {
    background-image: url("../img/background-menu-bottom.png");
    background-size:cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
}

.all-header-menu {
    padding: 25px 0 0 30%;
}

.logo, .top-menu {
    margin-right:50px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.top-menu li{
    margin-right: 35px;
    display: inline-block;
    vertical-align: middle;
}

.top-menu a {
    vertical-align: middle;
    font-size: 20px;
    color:black;
    text-decoration: none;
}


.logo h1{
    font-size: 25xpx;
    vertical-align: middle;
    color:black;
}

.prew {
    text-align: center;
    padding: 20px 20px;
    margin: 30% 0 10% 0;
    font-size: 20px;
}