*{
    margin: 0;
    padding:0;
    font-family: 'Comfortaa';
    box-sizing: border-box;
}

  body {
   }
   h1{
    font-family: 'Comfortaa';
	font-size: 50px;
    letter-spacing: 7px;
    text-align: center;
   }

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
    margin-top: 30px;

}
.textcols-item {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
	text-align: center;
}

.textcols-item b{
    letter-spacing: 3px;
}
.textcols-item p{
	font-family: 'Comfortaa';
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px;
}

.textcols-item + .textcols-item {
	margin-left: 5%;
}

 .main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    padding:30 px;
    border-radius:15px;
    margin-bottom:50px;
     align-items: center;
   }

   .main img{
   width:25%;
   display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:20px;
}
@keyframes box {
    #rr{
    position: relative; /* position- устанавливает положение элементов,
    относительно окна браузера. Relative – новое положение
    устанавливается относительно исходного положения*/
     overflow: hidden; /*рассматривается положение элемента(когда его
    размер превышает допустимую длину/ширину. ) hiddenПереполняющее содержимое не отображает.*/
     }
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: white;
}
.about img{
    height:auto;
    width:420px;
    border-radius: 100%;
}
.about-text{
    width: 550px;
    font-family: 'Comfortaa';
}
.main-about{
    width: 1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.about-text h1{
    font-size:58px;
    text-align:left;
    margin-bottom: 20px;
}
.about-text h5{
    font-size:25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size:18px;
    margin-bottom: 20px;
}