 *,
 *:after,
 *:before {
    box-sizing: border-box;
 } 

  body {
   }
   h1{
    font-family: 'Comfortaa';
	font-size: 50px;
    letter-spacing: 7px;
    text-align: center;
   }

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.textcols-item {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
	text-align: center;
}

.textcols-item b{
	font-family: 'Comfortaa';
	font-size: 18px;
    letter-spacing: 3px;
}
.textcols-item p{
	font-family: 'Comfortaa';
	font-size: 18px;
	line-height: 20px;
	margin-bottom: -10px;
}

.textcols-item + .textcols-item {
	margin-left: 5%;
}

 .main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    padding:30 px;
    border-radius:15px;
    margin-bottom:50px;
   }

   .main img{
   width:25%;
   display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:20px;
}
@keyframes box {
    #rr{
    position: relative; /* position- устанавливает положение элементов,
    относительно окна браузера. Relative – новое положение
    устанавливается относительно исходного положения*/
     overflow: hidden; /*рассматривается положение элемента(когда его
    размер превышает допустимую длину/ширину. ) hiddenПереполняющее содержимое не отображает.*/
     }
}